@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Prevent double scrollbars -> only use custom scrollbar */
html,
body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
}